.expense-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border: 1px solid white;
    background-color: #1f1f1f;
    color: white;
    border-radius: 10px;
  }
  
  .expense-date-month {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .expense-date-year {
    font-size: 1rem;
  }
  
  .expense-date-day {
    font-size: 2rem;
    font-weight: bold;
  }